

h1{
background-color: red;
color: white;
text-align: center;
}

.images{

    padding: 30px 10px;
    margin:20px auto;
    text-align: center;
}

.images img{

    border:4px solid black;
    width: 250px;
    height: 200px;
}
