
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box; /* Default Value */
}

body{
    /* background-image: url('./../images/bg.jfif');
    background-repeat: no-repeat;
    background-size: contain; */
}

h1{
background-color: red;
color: white;
text-align: center; 
}

.images{

    padding: 30px 10px;
    margin:20px auto;
    text-align: center;
}

.images img{

    border:4px solid black;
    width: 250px;
    height: 200px;
}


section{

    width: 300px;
    height: 200px;
    border: 2px solid #ccc;
    margin: auto;
}

section div{

    width: 100%;
    height: 100%;
    background-color: red;
    padding:10px;
}

.box{

    width: 300px;
    height: 200px;
    background-color: beige;
    margin: 30px auto;

}

.box.bg-img{
    background-image: url('./../images/cat.jfif');
    background-repeat: no-repeat;
    background-size: contain;
}


.btn-primary{
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 5px 12px;
    background-color: blue;
    color: white;
    border-radius: 7px;
}

.btn-danger{
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 5px 12px;
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 7px;
}

.btn-primary:hover{

    background-color: rgb(76, 0, 255 , .5);
}


.btn-danger:hover{

    background-color: rgb(255, 0, 0, .5);
}


@media(max-width: 500px)
{
    h1{
        background-color: green;
    }
}