
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eaf4ff; 
    color: #03396c;
}


header {
    background-color: #0077cc; 
    color: white;
    padding: 30px;
    text-align: center;
}


header h1 {
    margin: 0;
    font-size: 40px;
}


header p {
    font-size: 18px;
    margin-top: 10px;
}


main {
    padding: 40px;
    text-align: center;
}


footer {
    background-color: #005fa3;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.images {
    display: flex;
    gap: 20px;              
    justify-content: center;
    margin-top: 30px;
}

.images img {
    width: 200px;           
    height: 200px;          
    object-fit: cover;     
    border-radius: 10px;    
    border: 3px solid #0077cc; 
}
.footer {
    background-color: #005fa3;
    color: white;
    text-align: center;
    padding: 15px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.footer-links {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-links img {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 50px auto;
    flex-wrap: wrap;
}


.option {
    background-color: white;
    width: 230px;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid #03396c;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}


.option:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}


.option h3 {
    color: #03396c;
    margin-bottom: 10px;
}


.option p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}


.option a {
    display: inline-block;
    padding: 8px 18px;
    background-color: #03396c;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
}




.video {
    display: flex;
    justify-content: center; 
    margin: 40px 0;
}
.login-box {
    width: 150px;
    padding: 10px;
    background-color: #03396c; 
    color: white;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    margin: 20px aut
    font-weight: bold
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.login-box:hover {
    background-color: #005b96;
    transform: translateY(-2px);
}


